name: animereloaded-mal-auth-tunnel

services:
  cloudflared:
    image: cloudflare/cloudflared:latest
    container_name: animereloaded-mal-auth-tunnel
    restart: unless-stopped
    command: tunnel --config /etc/cloudflared/config.yml run
    network_mode: host
    volumes:
      - ./config.yml:/etc/cloudflared/config.yml:ro
      - ./credentials.json:/etc/cloudflared/credentials.json:ro
